In [1]:
import pandas as pd
file = pd.read_csv('events_up_to_01062018.csv',low_memory=False)

In [2]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341681 entries, 0 to 2341680
Data columns (total 23 columns):
timestamp                   object
event                       object
person                      object
url                         object
sku                         float64
model                       object
condition                   object
storage                     object
color                       object
skus                        object
search_term                 object
staticpage                  object
campaign_source             object
search_engine               object
channel                     object
new_vs_returning            object
city                        object
region                      object
country                     object
device_type                 object
screen_resolution           object
operating_system_version    object
browser_version             object
dtypes: float64(1), object(22)
memory usage: 410.9+ MB

In [3]:
features_03 = pd.read_csv('features_03.csv')
features_03.head()

,person,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,permanencia,hace_cuanto_visito,eventos_por_dia,channel,visitas_por_dia,vio_celulares,region,is_new
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,1,14,6.0,Referral,2.000000,False,Unknown,True
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,28,0,16.0,Direct,1.214286,True,Rio Grande do Sul,True
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,1,66,10.0,Paid,1.000000,True,Minas Gerais,True
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,10,5,20.6,Direct,0.600000,True,Sao Paulo,True
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,1,2,17.0,Paid,1.000000,True,Minas Gerais,True

In [4]:
features_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38829 entries, 0 to 38828
Data columns (total 18 columns):
person                38829 non-null object
mayor_evento          38829 non-null object
prod_visto            38829 non-null object
dispos                38829 non-null object
compras               38829 non-null int64
visitas               38829 non-null int64
cant_prod_vistos      38829 non-null int64
primer_visita         38829 non-null object
ultima_visita         38829 non-null object
cant_eventos          38829 non-null int64
permanencia           38829 non-null int64
hace_cuanto_visito    38829 non-null int64
eventos_por_dia       38829 non-null float64
channel               38829 non-null object
visitas_por_dia       38829 non-null float64
vio_celulares         38829 non-null bool
region                38829 non-null object
is_new                38829 non-null bool
dtypes: bool(2), float64(2), int64(6), object(8)
memory usage: 4.8+ MB

In [5]:
f1 = features_03.groupby('prod_visto').agg({'person':'count'})

In [6]:
features_04 = features_03.merge(f1,how='left',on='prod_visto')

In [7]:
def scrnres (x):
    c = x['screen_resolution'].value_counts().index
    if len(c)>0:
        return c[0]
    else:
        return 'Ninguno'
scrnres = file.groupby('person').apply(scrnres)
scrnres = pd.DataFrame(scrnres)
scrnres.columns = ['scrnres']

In [8]:
def opsis (x):
    c = x['operating_system_version'].value_counts().index
    if len(c)>0:
        return c[0]
    else:
        return 'Ninguno'
opsis = file.groupby('person').apply(opsis)
opsis = pd.DataFrame(opsis)
opsis.columns = ['opsis']

In [9]:
opsis.head()

                  opsis
person
0008ed71    Windows 10
00091926     Windows 7
00091a7a  Android 5.1.1
000ba417    Windows 10
000c79fe      Android 7

In [10]:
features_04 = features_04.set_index(features_04.columns[0]).join(opsis).join(scrnres)

In [11]:
features_04 = features_04.reset_index()

In [12]:
features_04.head()

,person_x,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,hace_cuanto_visito,eventos_por_dia,channel,visitas_por_dia,vio_celulares,region,is_new,person_y,opsis,scrnres
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,...,14,6.0,Referral,2.000000,False,Unknown,True,1699,Windows 10,1920x1080
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,...,0,16.0,Direct,1.214286,True,Rio Grande do Sul,True,2979,Windows 7,1024x768
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,...,66,10.0,Paid,1.000000,True,Minas Gerais,True,2979,Android 5.1.1,360x640
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,...,5,20.6,Direct,0.600000,True,Sao Paulo,True,89,Windows 10,1024x768
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,...,2,17.0,Paid,1.000000,True,Minas Gerais,True,1424,Android 7,360x640

In [13]:
a = ['mayor_evento', 'dispos','channel','region']
to_merge = []
for c in a:
    b = features_04.groupby(c).agg({features_04.columns[0]:'count'})
    features_04 = features_04.merge(b,how='left',on=c)

In [14]:
features_04.head()

,person_x_x_x_x_x,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,vio_celulares,region,is_new,person_y,opsis,scrnres,person_x_y,person_x_x_y,person_x_x_x_y,person_x_x_x_x_y
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,...,False,Unknown,True,1699,Windows 10,1920x1080,820,17502,3843,6645
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,...,True,Rio Grande do Sul,True,2979,Windows 7,1024x768,23817,17502,6190,1088
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,...,True,Minas Gerais,True,2979,Android 5.1.1,360x640,2196,20060,22858,3301
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,...,True,Sao Paulo,True,89,Windows 10,1024x768,23817,17502,6190,10958
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,...,True,Minas Gerais,True,1424,Android 7,360x640,1728,20060,22858,3301

In [15]:
def channel_inicial (x):
    vsc = x.loc[x.event=='visited site']['channel']
    if vsc.size>0:
        return vsc.values[0]
    else:
        return 'Unknown'
ci = file.groupby('person').apply(channel_inicial)

In [16]:
ci.value_counts()

Paid        24001
Organic      7452
Direct       4452
Referral     1757
Unknown       588
Social        515
Email          64
dtype: int64

In [17]:
features_04 = features_04.set_index(features_04.columns[0]).join(pd.DataFrame(ci)).reset_index()

In [18]:
features_04.head()

,person_x_x_x_x_x,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,region,is_new,person_y,opsis,scrnres,person_x_y,person_x_x_y,person_x_x_x_y,person_x_x_x_x_y,0
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,...,Unknown,True,1699,Windows 10,1920x1080,820,17502,3843,6645,Referral
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,...,Rio Grande do Sul,True,2979,Windows 7,1024x768,23817,17502,6190,1088,Direct
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,...,Minas Gerais,True,2979,Android 5.1.1,360x640,2196,20060,22858,3301,Paid
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,...,Sao Paulo,True,89,Windows 10,1024x768,23817,17502,6190,10958,Direct
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,...,Minas Gerais,True,1424,Android 7,360x640,1728,20060,22858,3301,Paid

In [19]:
file.event.value_counts()

viewed product       1248124
brand listing         216312
visited site          204069
ad campaign hit       191388
generic listing       160176
searched products     130616
search engine hit     106406
checkout               65315
staticpage             11201
conversion              7091
lead                     983
Name: event, dtype: int64

In [20]:
def notificaciones (x):
    return x.loc[x.event=='lead'].index.size
notif = file.groupby('person').apply(notificaciones)
notif = pd.DataFrame(notif)
notif.columns = ['lead']

In [21]:
features_04 = features_04.set_index(features_04.columns[0]).join(notif).reset_index()

In [22]:
features_04.head()

,person_x_x_x_x_x,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,is_new,person_y,opsis,scrnres,person_x_y,person_x_x_y,person_x_x_x_y,person_x_x_x_x_y,0,lead
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,...,True,1699,Windows 10,1920x1080,820,17502,3843,6645,Referral,0
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,...,True,2979,Windows 7,1024x768,23817,17502,6190,1088,Direct,0
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,...,True,2979,Android 5.1.1,360x640,2196,20060,22858,3301,Paid,0
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,...,True,89,Windows 10,1024x768,23817,17502,6190,10958,Direct,0
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,...,True,1424,Android 7,360x640,1728,20060,22858,3301,Paid,0

In [23]:
a = ['opsis','scrnres']
to_merge = []
for c in a:
    b = features_04.groupby(c).agg({features_04.columns[0]:'count'})
    features_04 = features_04.merge(b,how='left',on=c)

In [24]:
features_04.head()

,person_x_x_x_x_x_x_x,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,opsis,scrnres,person_x_y,person_x_x_y,person_x_x_x_y,person_x_x_x_x_y,0,lead,person_x_x_x_x_x_y,person_x_x_x_x_x_x_y
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,...,Windows 10,1920x1080,820,17502,3843,6645,Referral,0,6595,1343
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,...,Windows 7,1024x768,23817,17502,6190,1088,Direct,0,8625,1138
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,...,Android 5.1.1,360x640,2196,20060,22858,3301,Paid,0,1871,12882
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,...,Windows 10,1024x768,23817,17502,6190,10958,Direct,0,6595,1138
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,...,Android 7,360x640,1728,20060,22858,3301,Paid,0,4247,12882

In [25]:
file.event.unique()

array(['viewed product', 'searched products', 'ad campaign hit',
       'staticpage', 'checkout', 'search engine hit', 'conversion',
       'generic listing', 'brand listing', 'visited site', 'lead'],
      dtype=object)

In [26]:
tipos_de_eventos = list(file['event'].unique())
tipos_de_eventos.remove('viewed product') 
tipos_de_eventos.remove('staticpage') #la feature de si vio celulares o no ya se hizo y staticpage no tiene mucho sentido
def hizo_eventos(x):
    feats = []
    for event in tipos_de_eventos:
        f = event in x['event'].unique()
        feats.append(f)
    return pd.Series(feats)
hizoeventos = file.groupby('person').apply(hizo_eventos)
hizoeventos.columns = ['busco_productos', 'clickeo_ad','hizo_checkout', 'entro_desde_motor', 'hizo_conversion','filtro_busquedas', 'busco_marca', 'visito_sitio', 'hizo_lead']

In [27]:
hizoeventos.head()

,busco_productos,clickeo_ad,hizo_checkout,entro_desde_motor,hizo_conversion,filtro_busquedas,busco_marca,visito_sitio,hizo_lead
person,,,,,,,,,
0008ed71,False,False,True,False,False,True,False,True,False
00091926,False,True,True,False,False,False,True,True,False
00091a7a,False,True,False,False,False,False,True,True,False
000ba417,False,True,True,True,True,True,True,True,False
000c79fe,True,True,True,True,False,True,False,True,False

In [28]:
features_05 = features_04.set_index(features_04.columns[0]).join(hizoeventos,how='left').reset_index()

In [29]:
features_05.head()

,person_x_x_x_x_x_x_x,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,person_x_x_x_x_x_x_y,busco_productos,clickeo_ad,hizo_checkout,entro_desde_motor,hizo_conversion,filtro_busquedas,busco_marca,visito_sitio,hizo_lead
0,0008ed71,checkout,Ninguno,Computer,0,2,0,2018-05-17 12:27:47,2018-05-17 16:28:37,6,...,1343,False,False,True,False,False,True,False,True,False
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,2018-05-03 22:08:29,2018-05-31 19:52:03,448,...,1138,False,True,True,False,False,False,True,True,False
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,2018-03-26 14:51:11,2018-03-26 14:56:58,10,...,12882,False,True,False,False,False,False,True,True,False
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,2018-05-17 11:11:45,2018-05-26 13:09:22,206,...,1138,False,True,True,True,True,True,True,True,False
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,2018-05-29 00:27:47,2018-05-29 00:38:07,17,...,12882,True,True,True,True,False,True,False,True,False

In [30]:
features_05.columns

Index(['person_x_x_x_x_x_x_x',         'mayor_evento',           'prod_visto',
                     'dispos',              'compras',              'visitas',
           'cant_prod_vistos',        'primer_visita',        'ultima_visita',
               'cant_eventos',          'permanencia',   'hace_cuanto_visito',
            'eventos_por_dia',              'channel',      'visitas_por_dia',
              'vio_celulares',               'region',               'is_new',
                   'person_y',                'opsis',              'scrnres',
                 'person_x_y',         'person_x_x_y',       'person_x_x_x_y',
           'person_x_x_x_x_y',                      0,                 'lead',
         'person_x_x_x_x_x_y', 'person_x_x_x_x_x_x_y',      'busco_productos',
                 'clickeo_ad',        'hizo_checkout',    'entro_desde_motor',
            'hizo_conversion',     'filtro_busquedas',          'busco_marca',
               'visito_sitio',            'hizo_lead'],
      dtype='object')

In [32]:
features_05.columns = ['person',         'mayor_evento',           'prod_visto',
                     'dispos',              'compras',              'visitas',
           'cant_prod_vistos',        'primer_visita',        'ultima_visita',
               'cant_eventos',          'permanencia',   'hace_cuanto_visito',
            'eventos_por_dia',              'channel',  'visitas_por_dia',      'vio_celulares',
                     'region',               'is_new',             'personas_mismo_prod_visto',
                      'opsis',              'scrnres',           'personas_mismo_mayor_evento',
               'personas_mismo_disp',       'personas_mismo_region',     'personas_mismo_channel',
                            'primer_channel',                 'lead',   'personas_mismo_opsis',
       'personas_mismo_scrnres',      'busco_productos',           'clickeo_ad',
              'hizo_checkout',    'entro_desde_motor',      'hizo_conversion',
           'filtro_busquedas',          'busco_marca',         'visito_sitio',
                  'hizo_lead']

In [33]:
features_05.set_index(features_05.columns[0]).to_csv('features_04.csv')

In [34]:
features_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38829 entries, 0 to 38828
Data columns (total 38 columns):
person                         38829 non-null object
mayor_evento                   38829 non-null object
prod_visto                     38829 non-null object
dispos                         38829 non-null object
compras                        38829 non-null int64
visitas                        38829 non-null int64
cant_prod_vistos               38829 non-null int64
primer_visita                  38829 non-null object
ultima_visita                  38829 non-null object
cant_eventos                   38829 non-null int64
permanencia                    38829 non-null int64
hace_cuanto_visito             38829 non-null int64
eventos_por_dia                38829 non-null float64
channel                        38829 non-null object
visitas_por_dia                38829 non-null float64
vio_celulares                  38829 non-null bool
region                         38829 non-null object
is_new                         38829 non-null bool
personas_mismo_prod_visto      38829 non-null int64
opsis                          38829 non-null object
scrnres                        38829 non-null object
personas_mismo_mayor_evento    38829 non-null int64
personas_mismo_disp            38829 non-null int64
personas_mismo_region          38829 non-null int64
personas_mismo_channel         38829 non-null int64
primer_channel                 38829 non-null object
lead                           38829 non-null int64
personas_mismo_opsis           38829 non-null int64
personas_mismo_scrnres         38829 non-null int64
busco_productos                38829 non-null bool
clickeo_ad                     38829 non-null bool
hizo_checkout                  38829 non-null bool
entro_desde_motor              38829 non-null bool
hizo_conversion                38829 non-null bool
filtro_busquedas               38829 non-null bool
busco_marca                    38829 non-null bool
visito_sitio                   38829 non-null bool
hizo_lead                      38829 non-null bool
dtypes: bool(11), float64(2), int64(14), object(11)
memory usage: 8.4+ MB