## Limpio el archivo de features de cosas que pueden estar confundiendo al algoritmo

In [7]:
import pandas as pd
import datetime as dt

In [8]:
features = pd.read_csv("features_08.csv",low_memory=False)

In [9]:
features["primer_visita"] = pd.to_datetime(features["primer_visita"])
features["ultima_visita"] = pd.to_datetime(features["ultima_visita"])

In [10]:
ser=features["primer_visita"]
features["primer_visita"]=ser.map(lambda x: x.strftime('%m-%d'))
ser=features["ultima_visita"]
features["ultima_visita"]=ser.map(lambda x: x.strftime('%m-%d'))
features.head(10)

,person,mayor_evento,prod_visto,dispos,compras,visitas,cant_prod_vistos,primer_visita,ultima_visita,cant_eventos,...,16GB_compro,16GB_vio,8GB_compro,8GB_vio,256GB_compro,256GB_vio,4GB_compro,4GB_vio,512MB_compro,512MB_vio
0,0008ed71,checkout,Ninguno,Computer,0,2,0,05-17,05-17,6,...,False,False,False,False,False,False,False,False,False,False
1,00091926,viewed product,iPhone 6S,Computer,0,34,372,05-03,05-31,448,...,False,True,False,False,False,True,False,False,False,False
2,00091a7a,brand listing,iPhone 6S,Smartphone,0,1,3,03-26,03-26,10,...,False,True,False,False,False,False,False,False,False,False
3,000ba417,viewed product,Samsung Galaxy A3 Duos,Computer,1,6,153,05-17,05-26,206,...,True,True,False,True,False,True,False,True,False,False
4,000c79fe,searched products,iPhone 7,Smartphone,0,1,3,05-29,05-29,17,...,False,False,False,False,False,False,False,False,False,False
5,000e4d9e,viewed product,Samsung Galaxy S6 Flat,Computer,0,13,339,05-16,05-30,411,...,False,True,False,False,False,True,False,False,False,False
6,000e619d,viewed product,Motorola Moto G2 3G Dual,Computer,0,5,28,05-15,05-18,68,...,False,True,False,True,False,True,False,False,False,False
7,001001be,viewed product,iPhone 6,Smartphone,1,3,41,05-16,05-22,68,...,True,True,False,False,False,False,False,False,False,False
8,0010e89a,viewed product,Samsung Galaxy Gran Prime Duos TV,Computer,0,1,1,05-30,05-30,4,...,False,False,False,True,False,False,False,False,False,False
9,0016c4b5,viewed product,Samsung Galaxy S7,Smartphone,0,1,1,05-29,05-29,4,...,False,False,False,False,False,False,False,False,False,False

In [5]:
features.to_csv('features_09.csv')

In [ ]:
file = pd.read_csv("events_up_to_01062018.csv", low_memory=False)

In [31]:
lista=file.model.unique()
dic={}
cont=0
for elem in lista:
    precio = int(input("{} Precio de {}".format(cont,elem)))
    dic[elem]=dic.get(elem,0)+precio
    cont += 1

0 Precio de Samsung Galaxy J7 Prime 649
1 Precio de iPhone 5s 999
2 Precio de iPhone 6S 1679
3 Precio de iPhone 7 2229
4 Precio de LG G4 H818P 829
5 Precio de nan 0
6 Precio de iPhone 6 1499
7 Precio de iPhone 6 Plus 1589
8 Precio de Motorola Moto G5 Plus 1659
9 Precio de Motorola Moto G4 Plus 619
10 Precio de iPad Air Wi-Fi 1759
11 Precio de Samsung Galaxy S6 Flat 849
12 Precio de Samsung Galaxy S8 Plus 2229
13 Precio de Samsung Galaxy S5 619
14 Precio de iPhone SE 849
15 Precio de Samsung Galaxy S7 1199
16 Precio de Motorola Moto X2 569
17 Precio de Motorola Moto G3 4G 379
18 Precio de Motorola Moto X Play 4G Dual 1659
19 Precio de Motorola Moto G4 Play 439
20 Precio de Samsung Galaxy J5 609
21 Precio de Samsung Galaxy S5 New Edition Duos  569
22 Precio de Motorola Moto G3 HDTV 379
23 Precio de Motorola Moto G5  1659
24 Precio de Samsung Galaxy J3 483
25 Precio de Samsung Galaxy S6 Edge 1629
26 Precio de Samsung Galaxy Note 8 1979
27 Precio de Sony Xperia Z2 912
28 Precio de Motorola Moto G2 3G Dual 409
29 Precio de Motorola Moto Z Play 829
30 Precio de Samsung Galaxy S8 2229
31 Precio de Samsung Galaxy On 7 390
32 Precio de Samsung Galaxy S7 Edge 390
33 Precio de iPhone 8 3279
34 Precio de iPhone 6S Plus 1699
35 Precio de LG K10 Novo 599
36 Precio de Samsung Galaxy Core Plus Duos TV 269
37 Precio de iPhone 5c 499
38 Precio de iPhone 4S 459
39 Precio de Motorola Moto X Style 889
40 Precio de iPhone 7 Plus 3219
41 Precio de Samsung Galaxy A5 2016 589
42 Precio de Samsung Galaxy A5 589
43 Precio de Motorola Moto G5S Plus 550
44 Precio de Samsung Galaxy J7 549
45 Precio de Samsung Galaxy A3 2016 369
46 Precio de Samsung Galaxy S3 i9300 319
47 Precio de Sony Xperia M4 Aqua Dual 549
48 Precio de Samsung Galaxy Note 3 599
49 Precio de Motorola Moto G2 4G Dual 399
50 Precio de iPad Mini Wi-Fi + 4G 899
51 Precio de iPhone 5 849
52 Precio de Samsung Galaxy Note 5 1425
53 Precio de Sony Xperia M4 Aqua 609
54 Precio de LG G5 SE 859
55 Precio de Motorola Moto Z

ValueError: invalid literal for int() with base 10: ''

In [33]:
for elem in lista:
    if elem not in dic:
        precio = int(input("{} Precio de {}".format(cont,elem)))
        dic[elem]=dic.get(elem,0)+precio
        cont += 1

55 Precio de Motorola Moto Z 1100
56 Precio de Samsung Galaxy Note 4 989
57 Precio de iPad Air 2 Wi-Fi 1759
58 Precio de Samsung Galaxy S4 i9515 409
59 Precio de Sony Xperia Z5 1029
60 Precio de Samsung Galaxy J5 PRO 889
61 Precio de Samsung Galaxy S6 Edge Plus 1629
62 Precio de Lenovo Vibe A7010 Dual Chip 680
63 Precio de Samsung Galaxy J1 Mini 359
64 Precio de Samsung Galaxy S3 Mini 339
65 Precio de iPhone 4G 269
66 Precio de Samsung Galaxy Y Duos 179
67 Precio de Motorola Moto X Force 875
68 Precio de Motorola Moto Z2 Play 1250
69 Precio de Samsung Galaxy Gran Prime Duos TV 400
70 Precio de Samsung Galaxy A5 2017 589
71 Precio de Samsung Galaxy Gran Neo Duos 319
72 Precio de Motorola Moto MAXX  650
73 Precio de Motorola Moto G4 DTV 439
74 Precio de Samsung Galaxy A9 Pro 2016 100
75 Precio de Samsung Galaxy S5 Mini Duos 429
76 Precio de Samsung Galaxy A7 2017 799
77 Precio de Samsung Galaxy J2 Prime TV 585
78 Precio de Samsung Galaxy Gran Prime 3G Duos 350
79 Precio de Sony Xperia Z3 Dual 729
80 Precio de Sony Xperia Z3 TV 729
81 Precio de Sony Xperia Z3 Compact 799
82 Precio de Samsung Galaxy J5 Prime 609
83 Precio de Motorola Moto E2 4G Dual 145
84 Precio de Samsung Galaxy Core 2 Duos 250
85 Precio de LG Nexus 5 D821 390
86 Precio de LG K10 TV 575
87 Precio de Motorola Moto E2 3G Dual 439
88 Precio de Samsung Galaxy J2 4G Duos TV 370
89 Precio de LG K10 588
90 Precio de Motorola Moto G4 Play DTV 439
91 Precio de Samsung Galaxy A7 569
92 Precio de Quantum GO 4G 690
93 Precio de iPad Air 2 Wi-Fi + 4G 1759
94 Precio de LG G4 Stylus H630 599
95 Precio de Samsung Galaxy J5 2016 Metal 529
96 Precio de LG G3 Beat D724 359
97 Precio de Samsung Galaxy Win Duos 329
98 Precio de Samsung Gear S2 850
99 Precio de Sony Xperia Z3 Plus 950
100 Precio de Samsung Galaxy S4 i9505 579
101 Precio de Lenovo Vibe K5 479
102 Precio de iPhone X 4649
103 Precio de LG G4 Beat H736 619
104 Precio de Samsung Galaxy S5 Duos 569
105 Precio de iPhone 8 Plus 3869
106 Precio de Samsung Galaxy A7 2016 569
107 Precio de LG G3 Stylus D690 479
108 Precio de Samsung Galaxy E5 4G Duos 729
109 Precio de LG G3 D855 600
110 Precio de Samsung Galaxy Grand Duos i9082 349
111 Precio de Samsung Galaxy J1 2016 349
112 Precio de Samsung Galaxy J7 2016 Metal 750
113 Precio de Samsung Galaxy J7 Neo 560
114 Precio de Samsung Galaxy S5 New Edition 619
115 Precio de Samsung Galaxy J2 4G Duos  409
116 Precio de Samsung Galaxy E7 519
117 Precio de Samsung Galaxy Gran 2 Duos TV 150
118 Precio de Samsung Galaxy Win 2 Duos TV 389
119 Precio de Samsung Galaxy Note 3 Neo Duos 550
120 Precio de LG Prime Plus H522 619
121 Precio de Sony Xperia Z3  729
122 Precio de Sony Xperia Z5 Premium 1029
123 Precio de Samsung Galaxy Note 2 N7100 599
124 Precio de Samsung Galaxy Note Edge 2894
125 Precio de iPad Mini 3 Wi-Fi + 4G 1979
126 Precio de Samsung Galaxy Tab 3 10.1 Wi-Fi + 3G 719
127 Precio de Samsung Galaxy S3 Duos 419
128 Precio de LG G4 H815P 700
129 Precio de Samsung Galaxy A3 Duos 369
130 Precio de LG L Prime D337 380
131 Precio de iPad 3 Wi-Fi 2894
132 Precio de Samsung Galaxy S5 Mini 450
133 Precio de iPad Mini 4 Wi-Fi 2998
134 Precio de Samsung Galaxy Tab S2 8 Wi-Fi + 4G 1700
135 Precio de Samsung Galaxy J7 PRO 1000
136 Precio de LG  X Screen 350
137 Precio de Samsung Galaxy S4 Mini Duos 399
138 Precio de Asus Zenfone 3 Max 16 GB 619
139 Precio de Samsung Galaxy S3 Slim Duos 350
140 Precio de Quantum Muv Pro 499
141 Precio de Samsung Galaxy Tab E 7 Wi-Fi 399
142 Precio de Quantum Muv 499
143 Precio de Samsung Gear Fit 2 Pequeno 60
144 Precio de iPad Mini Wi-Fi 899
145 Precio de iPad Air Wi-Fi + 4G 1699
146 Precio de LG X Power 500
147 Precio de iPad 2 Wi-Fi + 3G 1759
148 Precio de iPad Mini 3 Wi-Fi 1979
149 Precio de Samsung Galaxy S4 i9500 600
150 Precio de Samsung Galaxy S4 Mini 399
151 Precio de Samsung Galaxy Tab S 10.5 Wi-Fi + 4G 1699
152 Precio de Motorola Moto Z Power Edition 2200
153 Precio de Samsung Galaxy Tab 4  10.1 Wi-Fi + 3G 675
154 Precio de Samsung Galaxy Tab A 2016 10.1  W-Fi + 4G 899
155 Precio de iPad 4 Wi-Fi 3900
156 Precio de Asus Zenfone 3 Max  32 GB 839
157 Precio de Samsung Galaxy Tab S 8.4 Wi-Fi + 4G 1350
158 Precio de Samsung Galaxy Tab A com S Pen 8 Wi-Fi + 4G 899
159 Precio de LG G4 Stylus HDTV H540T 500
160 Precio de LG K8 410
161 Precio de iPad 4 Wi-Fi + 4G 3900
162 Precio de LG K4 464
163 Precio de Motorola Moto G5S 899
164 Precio de Samsung Galaxy Tab Pro 10.1 Wi-Fi 675
165 Precio de Samsung Gear Fit 2 Grande 500
166 Precio de LG L80 Dual 429
167 Precio de Asus Zenfone Selfie 680
168 Precio de Motorola Moto Z2 Force 1595
169 Precio de Quantum YOU 500
170 Precio de Samsung Galaxy Gran Neo Plus Duos 299
171 Precio de Asus Zenfone 6 299
172 Precio de iPad Mini 2 Wi-Fi 849
173 Precio de Samsung Galaxy Gran Prime Duos 400
174 Precio de Asus Zenfone 5 1599
175 Precio de Samsung Gear S3 Frontier 1899
176 Precio de Samsung Galaxy Tab S2 9.7 Wi-Fi + 4G 1600
177 Precio de Samsung Galaxy Mega Duos 399
178 Precio de Samsung Galaxy Tab E 9.6 Wi-Fi 698
179 Precio de iPad Mini 2 Wi-Fi + 4G 849
180 Precio de iPad 3 Wi-Fi + 4G 1979
181 Precio de Asus Zenfone 2 Deluxe 880
182 Precio de Motorola Moto G1 4G 350
183 Precio de Samsung Gear S3 Classic 1199
184 Precio de Quantum Muv Up 299
185 Precio de Samsung Galaxy Tab E 9.6 Wi-Fi + 3G 698
186 Precio de iPad 2 Wi-Fi 1759
187 Precio de Asus Zenfone 2 880
188 Precio de Samsung Galaxy Tab E 7 Wi-Fi + 3G 399
189 Precio de Asus Zenfone Go 160
190 Precio de Asus Zenfone 2 Laser 880
191 Precio de Asus Live 649
192 Precio de Asus Zenfone 2 Laser 6" 880
193 Precio de Quantum GO 3G 690
194 Precio de Samsung Galaxy S3 Neo Duos i9300i 419
195 Precio de Samsung Galaxy Pocket 2 Duos 154
196 Precio de Samsung Galaxy Young 2 Duos TV 220
197 Precio de iPad Mini 4 Wi-Fi + 4G 2998
198 Precio de Motorola Moto E1 499
199 Precio de Samsung Galaxy Tab S 10.5 Wi-Fi 1699
200 Precio de Samsung Galaxy Tab 4 10.1 Wi-Fi 675
201 Precio de Sony Xperia Z ULTRA 900
202 Precio de Motorola Moto G1 3G 379
203 Precio de Xiaomi Redmi 2 830
204 Precio de LG G2 Mini D618 220
205 Precio de LG Nexus 4 450
206 Precio de Outros TV LED 15 499
207 Precio de Motorola Moto E4 Plus 1300
208 Precio de Samsung Galaxy S Duos 2 399

In [40]:
a.pop("NaN")
a=pd.DataFrame.from_dict(dic, orient='index')

KeyError: 'NaN'

In [37]:
a.to_csv("precios_celulares.csv")